@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/* COMMON STYLING */
body { font-family: sans-serif; }

.wrapper {
  width: 59.1%;
  max-width: 1400px;
  margin: 0 auto;
}

img { width: 100%; }

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 -ms-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

.container { width: 100%; }

 .fas { padding-right: 5px; }
 body { font-family: Arial; }
 ul li { list-style: none; }
 img { width: 100%; }
 .uppercase { text-transform: uppercase; }
 .first-letter:first-letter { text-transform: capitalize; }
 .block { display: block; }
 .centre { text-align: center; }
 .capitalize { text-transform: capitalize; }

.transition {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -ms-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/*HEADER*/

/* header top */

.header-top {
  padding: 6px 0 2px;
  background: #333;
}

.social li { display: inline-block; }

.header-top ul { padding-right: 5px; }

.social a {
  display: inline-block;
  text-indent: -9999px;
}

.social {
  display: inline-block;
  float: right;
}

.social li a:before {
  float: right;
  margin-left: 11px;
  color: #fff;
  font-family: "Font Awesome 5 Brands";
  font-size: 10px;
  text-indent: 0;
}

.social li:nth-child(1) a::before { content: "\f39e"; }
.social li:nth-child(2) a::before { content: "\f16d"; }
.social li:nth-child(3) a::before { content: "\f099"; }
.social li:nth-child(4) a::before { content: "\f231"; }
.social li:nth-child(5) a::before { content: "\f0e1"; }
.social li:nth-child(6) a::before { content: "\f167"; }

/* .header-mid  */

.header-mid { padding: 10px 0 9px; }
h1 img { float: right; }
h1 a { text-indent: -9999px; }
h1 { margin-top: 9px; }
h1,
.ad { display: inline-block; }

.ad {
  width: 64.45%;
  min-width: 450px;
  float: right;
}

/* header bot */

.header-bot {
  padding: 12px 0px;
  background: #ff3832;
}

nav > ul > li {
  margin-right: 3.3%;
  display: inline-block;
  position: relative;
}

.drop-list { display: none; }

.drop-list li {
  width: 100%;
  padding: 10px 20px;
}

nav > ul > li:nth-child(2):hover .drop-list {
  display: block;
  position: absolute;
  z-index: 5;
  background: #eb3;
  text-align: center;
}

nav > ul > li:nth-child(2)::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  font-weight: 900;
  color: #fff;
  cursor: pointer;
}

.header-bot a {
  display: inline-block;
  color: #ffefee;
  font-size: 10px;
  font-weight: 1000;
  letter-spacing: .4px;
}

.header-bot .search {
  margin: 0;
  float: right;
}

.search a {
  padding: 2px 12px;
  margin-right: 0px;
  display: inline-block;
  font-size: 13px;
  text-indent: -9999px;
}

.search a::before {
  content: "\f002";
  display: inline-block;
  float: right;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-indent: 0;
}

/* BANNER */

.banner {
  position: relative;
  padding: 100px 0 30px;
  background: url("../images/banner.png");
  background-position: center center;
  background-size: cover;
}

.travel { padding-left: 3.6%; }

.seq,
.seq a {
  color: #afaba7;
  font-size: 11px;
  text-transform: capitalize;
}

.seq a {
  color: #edebeb;
  font-weight: 600;
}

.seq a:nth-child(1) {
  padding: 4px 5px 4px;
  margin-right: 20px;
  display: inline-block;
  background: #d93e37;
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  width: 80%;
  margin-top: 25px;
  color: #fefffe;
  font-size: 28px;
  font-weight: 700;
}

.bot > span {
  padding: 4px 8px;
  margin: 71px 0 0 1.2%;
  display: inline-block;
  background: #eb3;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.bot ul { margin: 20px 0 0 3.4%; }

.bot li {
  padding: 4px 15px;
  margin-top: 3px;
  position: relative;
  border-left: 4px solid #f44;
  color: #b7b9bb;
  font-weight: 600;
  font-size: 11px;
  text-transform: capitalize;
}

.bot li::before {
  content: "01";
  position: absolute;
  left: -28px;
  font-size: 11px;
  font-weight: 600;
  color: #a1a3a4;
}

.bot li:nth-child(2)::before { content: "02"; }

.dots {
  position: absolute;
  right: 20.5%;
  bottom: 0;
}

.dots > li { display: inline-block; }

.dots > li > span {
  display: inline-block;
  cursor: pointer;
  text-indent: -9999px;
}

.dots > li > span::before {
  content: '\f0c8';
  float: right;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  font-weight: 900;
  text-indent: 0;
}
