@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/* COMMON STYLING */
body { font-family: sans-serif; }

.wrapper {
  max-width: 1400px;
  width: 59.1%;
  margin: 0 auto;
}

img { width: 100%; }

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 -ms-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

.container { width: 100%; }

 .fas { padding-right: 5px; }
 body { font-family: Arial; }
 ul li { list-style: none; }
 img { width: 100%; }
 .uppercase { text-transform: uppercase; }
 .first-letter:first-letter { text-transform: capitalize; }
 .block { display: block; }
 .centre { text-align: center; }
 .capitalize { text-transform: capitalize; }

.transition {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -ms-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/*HEADER*/

/* header top */

.header-top {
  padding: 6px 0 2px;
  background: #333;
}

.social li { display: inline-block; }

.header-top ul { padding-right: 5px; }

.social a {
  display: inline-block;
  text-indent: -9999px;
}

.social {
  display: inline-block;
  float: right;
}

.social li a:before {
  margin-left: 11px;
  float: right;
  color: #fff;
  font-family: "Font Awesome 5 Brands";
  font-size: 10px;
  text-indent: 0;
}

.social li:nth-child(1) a::before { content: "\f39e"; }
.social li:nth-child(2) a::before { content: "\f16d"; }
.social li:nth-child(3) a::before { content: "\f099"; }
.social li:nth-child(4) a::before { content: "\f231"; }
.social li:nth-child(5) a::before { content: "\f0e1"; }
.social li:nth-child(6) a::before { content: "\f167"; }

/* .header-mid  */

.header-mid { padding: 10px 0 9px; }
h1 img { float: right; }
h1 a { text-indent: -9999px; }
h1 { margin-top: 9px; }
h1,
.ad { display: inline-block; }

.ad {
  width: 64.45%;
  min-width: 450px;
  float: right;
}

/* header bot */

.header-bot {
  padding: 12px 0px;
  background: #ff3832;
}

nav > ul > li {
  margin-right: 3.3%;
  display: inline-block;
  position: relative;
}

.drop-list { display: none; }

.drop-list li {
  width: 100%;
  padding: 10px 20px;
}

nav > ul > li:nth-child(2):hover .drop-list {
  display: block;
  position: absolute;
  z-index: 5;
  background: #eb3;
  text-align: center;
}

nav > ul > li:nth-child(2)::after {
  content: "\f078";
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  font-weight: 900;
  cursor: pointer;
}

.header-bot a {
  display: inline-block;
  color: #ffefee;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: .4px;
}

.header-bot .search {
  margin: 0;
  float: right;
}

.search { float: right; }

.search button {
  border: none;
  background-color: transparent;
  outline: none;
  text-indent: -9999px;
}

.search input { display: none; }

.search button::before {
  content: "\f002";
  display: inline-block;
  float: right;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-indent: 0;
}

/* BANNER */

.banner {
  padding: 100px 0 30px;
  position: relative;
  background: url("../images/banner.png");
  background-size: cover;
  background-position: center center;
}

.travel { padding-left: 3.6%; }

.seq,
.seq a {
  color: #afaba7;
  font-size: 11px;
  text-transform: capitalize;
}

.seq a {
  color: #edebeb;
  font-weight: 600;
}

.seq a:nth-child(1) {
  padding: 4px 5px 4px;
  border-radius: 2px;
  margin-right: 20px;
  display: inline-block;
  background: #d93e37;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  width: 80%;
  margin-top: 17px;
  color: #fefffe;
  font-size: 27px;
  font-weight: 700;
}

.bot > span {
  padding: 4px 8px;
  margin: 71px 0 0 1.2%;
  display: inline-block;
  background: #eb3;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.bot ul { margin: 14px 0 0 3.4%; }

.bot li {
  padding: 4px 15px;
  border-left: 4px solid #f44;
  margin-top: 3px;
  position: relative;
  color: #b7b9bb;
  font-size: 11px;
  font-weight: 600;
  text-transform: capitalize;
}

.bot li::before {
  content: "01";
  position: absolute;
  left: -28px;
  color: #a1a3a4;
  font-size: 11px;
  font-weight: 600;
}

.bot li:nth-child(2)::before { content: "02"; }

.dots {
  position: absolute;
  right: 20.5%;
  bottom: 0;
}

.dots > li { display: inline-block; }

.dots > li > span {
  display: inline-block;
  cursor: pointer;
  text-indent: -9999px;
}

.dots > li > span::before {
  content: '\f0c8';
  float: right;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  font-weight: 900;
  text-indent: 0;
}

/*ARTICLE SECTION*/

.articles { padding: 25px 0 18px; }
.articles .wrapper { text-align: left; }
.section { border-bottom: 2px solid #fe3a20; }

.section > span {
  padding: 2px 12px 2px;
  border-radius: 1px;
  display: inline-block;
  background-color: #fe3a20;
  color: #fffCfc;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .1px;
}

.politics,
.tech,
.world {
  width: 31.57%;
  margin-right: calc(2.63% - 5px);
  display: inline-block;
  vertical-align: top;
}

.world { margin-right: 0; }
.thumbnail { margin-top: 11px; }

article h3 a {
  margin-top: 13px;
  display: inline-block;
  color: #282828;
  font-size: 17px;
  font-weight: 800;
  line-height: 24px;
}

.article-details span {
  color: #878787;
  font-size: 10px;
  font-weight: 900;
}

.article-details .date { margin-right: 4.22%; }
.article-details { margin-top: 4px; }

.article-details .date:before {
  content: '\f017';
  padding-right: 3px;
  color: #878787;
  font-family: "Font Awesome 5 Free";
  font-size: 8px;
  font-weight: 400;
}

.article-details .comments::before {
  content: '\f075';
  padding-right: 3px;
  color: #878787;
  font-family: "Font Awesome 5 Free";
  font-size: 9px;
  font-weight: 400;
}

article p {
  padding-bottom: 14px;
  margin-top: 5px;
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  word-spacing: -1.5px;
}

/*media queries starts here*/
@media only screen and (max-width: 1023px) {
  /*HEADER*/
  .header-mid .wrapper { text-align: center; }
  .h1 { display: block; }

  .header-mid .ad {
    width: 64.45%;
    min-width: 0;
    margin: 10px auto 0;
    display: block;
    float: none;
  }
}

@media only screen and (max-width: 768px) {
  /*HEADER*/
  .header-top { padding-bottom: 0; }

  .header-top .social {
    width: 100%;
    margin: 0 auto;
    float: none;
    text-align: center;
  }

  h1 {  margin: 0; }

  /*banner*/
  .seq { font-size: 10px; }
  h2 { font-size: 16px; }
  .header-mid .ad { width: 100%; }

  /*ARTICLE SECTION*/
  .politics,
  .tech,
  .world {
    width: 100%;
    margin-top: 20px;
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  /*HEADER*/
  .social li:nth-child(1):hover a::before { color: #2e5b9a; }
  .social li:nth-child(2):hover a::before { color: #9835d1; }
  .social li:nth-child(3):hover a::before { color: #139Ed1; }
  .social li:nth-child(4):hover a::before { color: #d61c2c; }
  .social li:nth-child(5):hover a::before { color: #007bb2; }
  .social li:nth-child(6):hover a::before { color: #f00; }

  nav > ul > li:hover > a,
  .drop-list > li:hover > a { text-decoration: underline; }
  .seq a:hover { background-color: #f6b549; }

  .seq .name:hover {
    background-color: transparent;
    text-decoration: underline;
  }

  .dots > li:hover > span::before { color: #ff3633; }
}

@media only screen and (max-width: 415px) {
  /*header*/

  h1 {  margin: 0; }
  .header-bot a { font-size: 9px; }
  nav li:nth-child(3) { margin-right: 0; }

  /*banner*/
  .banner { padding: 30px 0 30px; }
  .bot > span { margin: 30px 0 0 1.2%;}
  .seq { font-size: 11px; }

  .seq a:nth-child(1) {
    width: 50px;
    margin-bottom: 4px;
    display: block;
    font-size: 11px;
  }

  h2 { font-size: 13px; }
  .header-mid .ad { width: 100%; }
}
