@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* COMMON STYLING */

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 -ms-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

.container { width: 100%; }

.wrapper {
  width: 71.85%;
  margin: 0 auto;
  max-width: 1500px;
}

 .fas { padding-right: 5px; }
 body { font-family: Arial; }
 ul li { list-style: none; }
 img { width: 100%; }
 .uppercase { text-transform: uppercase; }
 .first-letter:first-letter { text-transform: capitalize; }
 .block { display: block; }
 .centre { text-align: center; }
 .capitalize { text-transform: capitalize; }

.transition {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -ms-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/* ADMIN HEADER */
header {
  padding: 6px 0 6px;
  background-color: #252525;
}

.admin-header-wrapper {
  width: 96.89%;
  margin: 0 auto;
}

.admin-header-left {
  margin-top: 5px;
  display: inline-block;
}

.admin-header-left h1 a {
  color: #8c8d8c;
  font-size: 20px;
  font-weight: 500;
}

.admin-header-wrapper ul { float: right; }
.admin-header-wrapper li { float: left; }

.admin-header-wrapper li a {
  padding: 6px 13px 6px;
  background-color: #f8f8f8;
  border-radius: 4px;
  color: #5b5e64;
  font-size: 16px;
  font-weight: 500;
}

.admin-header-wrapper li { margin-right: 10px; }
.admin-header-wrapper li:last-child { margin-right: 0; }

.admin-header-wrapper li a:hover {
  color: #f8f8f8;
  background-color: #292929;
}

/* footer */
.admin-footer-wrapper {
  width: 96.89%;
  margin: 0 auto;
}

.admin-footer-wrapper p {
  color: #707276;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .2px;
}


/* ASIDE MENU */
.main-content { padding: 20px 0 20px; }

.main-content .wrapper {
  width: 96.89%;
  margin: 0 auto;
}

.main-content aside {
  width: 14.37%;
  padding: 16px 0 16px 14px;
  border: 1px solid #d8d8d8;
  background-color: #eaeaea;
  border-radius: 5px;
}

aside h2,
aside a {
  color: #4aaba6;
  font-size: 11px;
  font-weight: 800;
}

aside h2 {
  padding-bottom: 6px;
  color: #a3a4a7;
}

aside nav li { margin-top: 13px; }
aside nav a:hover { color: #a3a4a7; }

/* forms styling start here (login and signup)*/

.register-form {
  width: 356px;
  padding: 31px 27px 24px;
  border: 2px solid #eaeaea;
  margin: 0 auto;
  border-radius: 4px;
}

.register-form h2 {
  color: #393939;
  font-size: 31px;
  font-weight: 900;
}

.form-input input {
  width: 100%;
  padding: 8px 0 8px 8px;
  border: 2px solid #e5e5e5;
  margin-top: 14px;
  border-radius: 4px;
  color: #a5abae;
  font-size: 16px;
  outline: none;
}

.form-button {
  margin-top: 14px;
  display: inline-block;
}

.form-button input[type=submit],
.form-button a {
  padding: 4px 4px 4px;
  border: 2px solid #ececec;
  background-color: #e6e6e6;
  border-radius: 4px;
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}
