@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* COMMON STYLING */

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 -ms-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

.container { width: 100%; }

.wrapper {
  max-width: 1500px;
  width: 71.85%;
  margin: 0 auto;
}

 .fas { padding-right: 5px; }
 body { font-family: Arial; }
 ul li { list-style: none; }
 img { width: 100%; }
 .uppercase { text-transform: uppercase; }
 .first-letter:first-letter { text-transform: capitalize; }
 .block { display: block; }
 .centre { text-align: center; }
 .capitalize { text-transform: capitalize; }

.transition {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -ms-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/* common classes */
.manditory {
  padding-left: 3px;
  color: #f83f3c;
}

.form-error {
  padding-top: 5px;
  display: block;
  color: #f83f3c;
  cursor: auto;
}

.form-success {
  padding-top: 5px;
  color: #359b8e;
}

/* ADMIN HEADER */
header {
  padding: 6px 0 6px;
  background-color: #252525;
}

.admin-header-wrapper {
  width: 96.89%;
  margin: 0 auto;
}

.admin-header-left {
  margin-top: 5px;
  display: inline-block;
}

.admin-header-left h1 a {
  color: #8c8d8c;
  font-size: 20px;
  font-weight: 500;
}

.admin-header-wrapper ul { float: right; }
.admin-header-wrapper li { float: left; }

.admin-header-wrapper li a {
  padding: 6px 13px 6px;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #5b5e64;
  font-size: 16px;
  font-weight: 500;
}

.admin-header-wrapper li { margin-right: 10px; }
.admin-header-wrapper li:last-child { margin-right: 0; }

.admin-header-wrapper li a:hover {
  background-color: #292929;
  color: #f8f8f8;
}

.profile-name:before {
  content: '\f007';
  padding-right: 5px;
  vertical-align: top;
  color: #393939;
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
}

.profile-name:after {
  content: '\f0dd';
  padding: 0 5px 0;
  vertical-align: top;
  color: #393939;
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
}

.admin-header-wrapper li:hover > .profile-name:after,
.admin-header-wrapper li:hover > .profile-name:before { color: #f8f8f8; }

/* footer */
.admin-footer-wrapper {
  width: 96.89%;
  margin: 0 auto;
}

.admin-footer-wrapper p {
  color: #707276;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .2px;
}

/* ASIDE MENU */
.main-content { padding: 20px 0 20px; }

.main-content .wrapper {
  width: 96.89%;
  margin: 0 auto;
}

.main-content aside {
  width: 14.37%;
  padding: 16px 0 16px 14px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  background-color: #eaeaea;
}

aside h2,
aside a {
  color: #4aaba6;
  font-size: 11px;
  font-weight: 800;
}

aside h2 {
  padding-bottom: 6px;
  color: #a3a4a7;
}

aside nav li { margin-top: 13px; }
aside nav a:hover { color: #a3a4a7; }

/* forms styling start here (login and signup)*/

.register-form {
  width: 356px;
  padding: 31px 27px 24px;
  border: 2px solid #eaeaea;
  border-radius: 4px;
  margin: 0 auto;
}

.register-form h2 {
  color: #393939;
  font-size: 31px;
  font-weight: 900;
}

.form-input input {
  width: 100%;
  padding: 8px 0 8px 8px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-top: 14px;
  color: #a5abae;
  font-size: 16px;
  outline: none;
}

.form-button {
  margin-top: 14px;
  display: inline-block;
}

.form-button input[type=submit],
.form-button a {
  padding: 4px 10px 4px;
  border: 2px solid #ececec;
  border-radius: 4px;
  background: linear-gradient(180deg, #f8f8f8, #e6e6e6);
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}

.form-button input[type=submit]:hover,
.form-button a:hover {
  border: 2px solid #0d52c3;
  background: linear-gradient(180deg, #007ec4, #0d52c3);
  color: #fff;
}

/*main-content admin landing page syling starts here*/
.redesign {
  width: 85%;
  padding-left: 30px;
  margin: 0 auto;
  display: inline-block;
}

.redesign h2 {
  margin-top: 19px;
  color: #373737;
  font-size: 31px;
  font-weight: 900;
}

.redesign p {
  margin-top: 12px;
  color: #4d5354;
  font-size: 14px;
  font-weight: 500;
}

.redesign p span {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 700;
}

/*main-content add/update article*/
.add-article {
  width: 85%;
  padding-left: 30px;
  display: inline-block;
}

.add-article > ul > li { float: left; }

.add-article > ul a {
  padding: 5px;
  border: 1px solid transparent;
  color: #5ea89b;
  border-bottom-color: #ddd;
}

.add-article > ul a:hover,
.add-article > ul > li > .active {
  border: 1px solid #ddd;
  border-bottom: 1px solid transparent;
  color: #a4a4a4;
}

.article-form .fields {
  margin-top: 20px;
  display: block;
}

.article-form .fields .input-label,
.article-form .fields .input-fields {
  display: inline-block;
  vertical-align: top;
}

.article-form .fields .input-fields img { width: 78.5%; }

.article-form .input-label {
  width: 15.40%;
  color: #3C3C3C;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.article-form .fields .input-fields {
  width: 83%;
  padding-left: 1.88%;
}

.article-form input,
.article-form textarea,
.article-form select {
  width: 78.64%;
  padding: 8px 0 8px 5px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  outline: none;
}

.article-form textarea {
  padding: 6px 0 66px 5px;
  resize: none;
}

.article-form input[type=file] { margin-top: 5px; }

.article-form input[type=submit] {
  width: 100%;
  padding: 4px 10px 4px;
  border: 2px solid #ececec;
  border-radius: 4px;
  background: linear-gradient(180deg, #f8f8f8, #e6e6e6);
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}

.article-form input[type=submit]:hover {
  border: 2px solid #0d52c3;
  background: linear-gradient(180deg, #007ec4, #0d52c3);
  color: #fff;
}

/*BROWSE SECTION ARTICLE STYLING STARTS HERE*/
.all-articles {
  width: 85%;
  padding-left: 30px;
  display: inline-block;
}

.article-form select,
.article-form input[type="submit"] { display: inline-block; }

.search-form {
  width: 48%;
  margin: 0 auto;
}

.search-form form select {
  width: 78.64%;
  padding: 8px 0 8px 5px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  outline: none;
}

.search-form form input[type="submit"] {
  width: 15%;
  padding: 8px 8px;
  border: 2px solid #ececec;
  border-radius: 4px;
  background: linear-gradient(180deg, #f8f8f8, #e6e6e6);
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}

.search-form input[type=submit]:hover {
  border: 2px solid #0d52c3;
  background: linear-gradient(180deg, #007ec4, #0d52c3);
  color: #fff;
}

.articles-details {
  margin-top: 37px;
  display: table;
}

.articles-details .table-row-header,
.articles-details .table-row-data {
  border: 1px solid red;
  display: table-row;
}

.articles-details .table-row-data {
  background-color: #f2dcdc;
  color: #737d96;
  font-size: 14px;
  font-weight: bold;
}

.articles-details .table-row-data:hover { background-color: #ebc9ca; }

.articles-details .table-header,
.articles-details .table-data {
  width: 17.53%;
  min-width: 150px;
  padding: 11px 0 11px 10px;
  display: table-cell;
  vertical-align: middle;
}

.articles-details .table-data {  border-bottom: 1px solid #e6e6e6; }

.table-header strong {
  color: #4e9b92;
  font-size: 14px;
  font-weight: bold;
}

.table-data span { color: #5a5a5a; }

.articles-details .edit,
.articles-details .delete { text-indent: -9999px; }
.articles-details .edit { margin-right: 9px; }

.articles-details .edit::before,
.articles-details .delete::before {
  content: '\f00c';
  padding: 9px 13px;
  border-radius: 4px;
  float: right;
  background-color: #f6f6f6;
  color: #3f3f3f;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-weight: 900;
  text-indent: 0;
}

.articles-details .delete::before {
    content: '\f2ed';
    color: #7b7070;
}

.edit:hover::before { color: #4fa79b; }
.delete:hover::before { color: #f00; }
